@charset "utf-8";
/* CSS Document */
* {
	font-size: 12px;
	margin: 0;
	padding: 0;
	font-family: Arial,"新宋体";
	color:#666666;
}

ul, li {
	margin:0px;
	padding:0px;
	list-style:none;
	list-style-image:none;
}

.bold{font-weight:bold;}
.font-yy{font-family:Arial,"幼圆";;}
.C40{color:#404040;}
.C2{color:#C2C2C2;}
.A0{color:#a0a0a0;}
.C39AEE7{color:#39AEE7;}
.fl{float:left;}
.fr{float:right;}
.tr{text-align:right;}
.tl{text-align:left;}
.s11{font-size:11px;}
.s12{font-size:12px;}
.s13{font-size:13px;}
.s14{font-size:14px;}
.s15{font-size:15px;}
.s16{font-size:16px;}
.s17{font-size:17px;}
.s30{font-size:30px;}

.window{
	position:relative;
	overflow:hidden;
}

.bgFlash{
	position:absolute;
	width:2000px;
	height:600px;
	z-index:0;
	background:white;
}

.mainContainer{
	position:absolute;
	z-index:1;
}

.top{
	height:87px;
	background: url(../images/nav_bg.gif) repeat-x;
}

body{
	background:#B4CFDC;
}

.logo{
	width:280px;
	height:52px;
	float:left;
	line-height:52px;
	font-size:14px;
	color:#666666;
	font-family:Arial,"幼圆";
	font-weight:bold;
	padding-left:150px;
	background: url(../images/top_Llogo.gif) no-repeat left;
}

.logo  b{
	font-size:15px;
	color:#ffffff;
	font-family:Arial,"幼圆";
	font-weight:bold;
}

.nav{
	width:576px;
	height:52px;
	background: url(../images/top_Rlogo.gif) no-repeat right;
}

.nav a{
	width:60px;
	height:52px;
	line-height:52px;
	display:inline-block;
	cursor:pointer;
	text-align:left;
	font-size:14px;
	color:#ffffff;
	font-weight:bold;
	text-decoration:none;
	margin-left:26px;
	font-family:Arial,"幼圆";
}

.nav-about{
	background: url(../images/nav_1h.gif) no-repeat left center;
	padding-left:18px;
}

.nav-about:hover{
	background: url(../images/nav_1o.gif) no-repeat left center;
	color:#666666;
	padding-left:18px;
}

.nav-goodAt{
	background: url(../images/nav_2h.gif) no-repeat left center;
	padding-left:16px;
}

.nav-goodAt:hover{
	background: url(../images/nav_2o.gif) no-repeat left center;
	padding-left:16px;
	color:#666666;
}

.nav-solution{
	background: url(../images/nav_3h.gif) no-repeat left center;
	padding-left:18px;
	padding-left:18px;
}

.nav-solution:hover{
	background: url(../images/nav_3o.gif) no-repeat left center;
	padding-left:18px;
	color:#666666;
}

.nav-contact{
	background: url(../images/nav_4h.gif) no-repeat left center;
	padding-left:22px;
}

.nav-contact:hover{
	background: url(../images/nav_4o.gif) no-repeat left center;
	padding-left:22px;
	color:#666666;
}

.nav-joinUs{
	background: url(../images/nav_5h.gif) no-repeat left center;
	padding-left:22px;
}

.nav-joinUs:hover{
	background: url(../images/nav_5o.gif) no-repeat left center;
	padding-left:22px;	
	color:#666666;
}

.mainSlider{
	cursor: pointer;
}

.ui-slider-handle{
	cursor: pointer;
}

.floor{
	height:149px;
}

.floor-link{
	height:115px;
	width:100%;
	background: url(../images/floor_link.gif) no-repeat center;
}

.copyright{
	float:left; 
	line-height:30px; 
	color:#666666; 
	margin-left:20px;
}

.fLogo{
	text-align:right;
	height:30px;
	line-height:30px;
}

.fLogo a{
	text-decoration:none;
	color:#666666;
	margin-right:25px;
}

.fLogo img{
	vertical-align:text-bottom;
}

.container{
	height:500px;
	position:relative;
}

.moveContainer{
	height:100px;
	position:absolute;
}

.container .page{
	float:left;
	height:467px;
	width:1024px;
}

.pageContainer{
	margin-left:37px;
	margin-right:37px;
}

.prev-hover{
	width:32px;
	height:73px;
	cursor:pointer;
	position:absolute;
	z-index:100;
	background:url(../images/prev_hover.png) no-repeat;
	_background:none; 
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/prev_hover.png" ,sizingMethod="crop"); 
}

.prev-out{
	width:32px;
	height:73px;
	cursor:pointer;
	position:absolute;
	z-index:100;
	background:url(../images/prev_out.png) no-repeat;
	_background:none; 
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/prev_out.png" ,sizingMethod="crop"); 
}

.next-hover{
	width:32px;
	height:73px;
	cursor:pointer;
	position:absolute;
	z-index:100;
	background:url(../images/next_hover.png) no-repeat;
	_background:none; 
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/next_hover.png" ,sizingMethod="crop"); 
}

.next-out{
	width:32px;
	height:73px;
	cursor:pointer;
	position:absolute;
	z-index:100;
	background:url(../images/next_out.png) no-repeat;
	_background:none; 
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/next_out.png" ,sizingMethod="crop"); 
}

/**** pc *****/

.subNav {
	margin-bottom:20px;
	margin-left:10px;
	height:54px;
}

.subNav li{
	width:174px;
	height:42px;
	display:inline-block;
	text-align:center;
	padding-top:10px;
	font-weight:bold;
	font-size:14px;
	margin-right:10px;
	cursor:pointer;
	text-decoration:none;
	font-family:Arial,"幼圆";
	color:#078ACA;
}

.emFirst{
	color:#AACBDA;
	font-size:14px;
}

.emLast{
	color:#078ACA;
	font-family:"微软雅黑";
	font-size:18px;
}

.subNav-out{
	color:#078ACA;
}
	
.subNav-hover{
	height:54px;
	top:0px;
	color:#078ACA;
}

.slideDir{
	height:10px;
	position:relative;
}

.slideDir div{
	width:19px;
	height:10px;
	position:absolute;
	background:url(../images/slide_dir.gif) no-repeat;
}

.subContainer{
	height:370px;
}


.subPrev-hover{
	display:block;
	width:30px;
	height:54px;
	cursor:pointer;
	position:absolute;
	top:110px;
	left:3px;
	_left:-42px;
	z-index:99;
	background:url(../images/subPrev_hover.png) no-repeat;
	_background:none; 
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/subPrev_hover.png" ,sizingMethod="crop"); 
}

.subPrev-out{
	display:block;
	top:110px;
	left:3px;
	_left:-42px;
	width:30px;
	height:54px;
	cursor:pointer;
	position:absolute;
	z-index:99;
	background:url(../images/subPrev_out.png) no-repeat;
	_background:none; 
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/subPrev_out.png" ,sizingMethod="crop"); 
}

.subNext-hover{
	display:block;
	top:110px;
	left:917px;
	_left:872px;
	width:30px;
	height:54px;
	cursor:pointer;
	position:absolute;
	z-index:99;
	background:url(../images/subNext_hover.png) no-repeat;
	_background:none; 
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/subNext_hover.png" ,sizingMethod="crop"); 
}

.subNext-out{
	display:block;
	top:110px;
	left:917px;
	_left:872px;
	width:30px;
	height:54px;
	cursor:pointer;
	position:absolute;
	z-index:99;
	background:url(../images/subNext_out.png) no-repeat;
	_background:none; 
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/subNext_out.png" ,sizingMethod="crop"); 
}

.guiding{
	line-height:30px;
	font-weight:bold;
	padding:10px 10px 5px 20px;
}

.guiding span{
	color:#C2C2C2;
	font-size:14px;
	background:url(../images/dian.gif) no-repeat 0px 1px;
	font-family:Arial,"幼圆";;
	padding-left:15px;
}

.guiding a{
	color:#2B9BD2;
	font-size:14px;
	font-family:Arial,"幼圆";;
}

.imgFace{
	width:155px;
	height:99px;
	position:absolute;
	background:url(../images/img_face.png) no-repeat;
	_background:none; 
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/img_face.png" ,sizingMethod="crop"); 
}

.imgHot{
	width:41px;
	height:20px;
	position:absolute;
	background:url(../images/img_hot.png) no-repeat;
	_background:none; 
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/img_hot.png" ,sizingMethod="crop"); 
}














