@charset "utf-8";
/* CSS Document */
* {
	font-size: 12px;
	margin: 0;
	padding: 0;
	font-family: Arial,"新宋体";
	color:#666666;
}

ul, li {
	margin:0px;
	padding:0px;
	list-style:none;
	list-style-image:none;
}

.bold{font-weight:bold;}
.font-yy{font-family:Arial,"幼圆";;}
.C40{color:#404040;}
.C2{color:#C2C2C2;}
.A0{color:#a0a0a0;}
.C39AEE7{color:#39AEE7;}

/* 蓝色中文标题 */
.CC078ACA{color:#078ACA;letter-spacing:3px;}
/* 蓝色英文标题 */
.CC589FC1{color:#589FC1;}
/* 淡蓝色英文标题 */
.CCAACBDA{color:#AACBDA;}
/* 蓝色文字 */
.CC378BB3{color:#378BB3;}
/* 黑色标题 */
.CC807E7E{color:#807E7E;}
.CC707070{color:#707070;}

.FFSOFT{font-family:"微软雅黑";}

.fl{float:left;}
.fr{float:right;}
.tr{text-align:right;}
.tl{text-align:left;}
.s11{font-size:11px;}
.s12{font-size:12px;}
.s13{font-size:13px;}
.s14{font-size:14px;}
.s15{font-size:15px;}
.s16{font-size:16px;}
.s17{font-size:17px;}
.s30{font-size:30px;}

body{
	background: url(../images/body_bg.gif);
}

.window{
	position:relative;
	overflow:hidden;
}

.bgFlash{
	position:absolute;
	width:2000px;
	height:595px;
	z-index:0;
	background:white;
	overflow:hidden;
}

.hide{
}

.mainContainer{
	position:absolute;
	z-index:1;
}

.top{
	height:85px;
	background: url(../images/nav_bg.gif) repeat-x;
}

p.pageTitle{
	display:none;
}

.navigation{
	width:280px;
	height:52px;
	float:left;
	line-height:52px;
	font-size:14px;
	color:#666666;
	font-family:Arial,"幼圆";
	font-weight:bold;
	padding-left:150px;
	background: url(../images/top_Llogo.gif) no-repeat left;
}

.navigation  b{
	font-size:15px;
	color:#ffffff;
	font-family:Arial,"幼圆";
	font-weight:bold;
}

.nav{
	width:576px;
	height:52px;
	background: url(../images/top_Rlogo.gif) no-repeat right;
}

.nav a{
	width:60px;
	height:52px;
	line-height:52px;
	display:inline-block;
	cursor:pointer;
	text-align:left;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	margin-left:26px;
	font-family:Arial,"幼圆";
}

.navAbout{
	background: url(../images/nav_1h.gif) no-repeat left center;
	padding-left:18px;
	color:#ffffff;
}

.navAbout-hover{
	background: url(../images/nav_1o.gif) no-repeat left center;
	color:#666666;
	padding-left:18px;
}

.navGoodAt{
	background: url(../images/nav_2h.gif) no-repeat left center;
	padding-left:16px;
	color:#ffffff;
}

.navGoodAt-hover{
	background: url(../images/nav_2o.gif) no-repeat left center;
	padding-left:16px;
	color:#666666;
}

.navSolution{
	background: url(../images/nav_3h.gif) no-repeat left center;
	padding-left:18px;
	color:#ffffff;
}

.navSolution-hover{
	background: url(../images/nav_3o.gif) no-repeat left center;
	padding-left:18px;
	color:#666666;
}

.navContact{
	background: url(../images/nav_4h.gif) no-repeat left center;
	padding-left:22px;
	color:#ffffff;
}

.navContact-hover{
	background: url(../images/nav_4o.gif) no-repeat left center;
	padding-left:22px;
	color:#666666;
}

.navJoinUs{
	background: url(../images/nav_5h.gif) no-repeat left center;
	padding-left:22px;
	color:#ffffff;
}

.navJoinUs-hover{
	background: url(../images/nav_5o.gif) no-repeat left center;
	padding-left:22px;	
	color:#666666;
}

.mainSlider{
	cursor: pointer;
}

.ui-slider-handle{
	cursor: pointer;
}

.floor{
}

.floor-link{
	height:115px;
	width:100%;
	background: url(../images/floor_link.gif) no-repeat center;
}

.copyright{
	line-height:20px; 
	color:#666666; 
	margin-left:20px;
	text-align:center;
}

.fLogo{
	text-align:center;
	height:30px;
	line-height:30px;
}

.fLogo a{
	text-decoration:none;
	color:#666666;
	margin-right:25px;
}

.fLogo img{
	vertical-align:text-bottom;
}

.container{
	height:499px;
	position:relative;
}

.moveContainer{
	height:100px;
	position:absolute;
}

.container .page{
	float:left;
	height:467px;
	width:1024px;
}

.pageContainer{
	margin-left:62px;
	margin-right:62px;
}

.prev-hover{
	width:32px;
	height:73px;
	cursor:pointer;
	position:absolute;
	z-index:100;
	background:url(../images/prev_hover.png) no-repeat;
	_background:none; 
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/prev_hover.png" ,sizingMethod="crop"); 
}

.prev-out{
	width:32px;
	height:73px;
	cursor:pointer;
	position:absolute;
	z-index:100;
	background:url(../images/prev_out.png) no-repeat;
	_background:none; 
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/prev_out.png" ,sizingMethod="crop"); 
}

.next-hover{
	width:32px;
	height:73px;
	cursor:pointer;
	position:absolute;
	z-index:100;
	background:url(../images/next_hover.png) no-repeat;
	_background:none; 
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/next_hover.png" ,sizingMethod="crop"); 
}

.next-out{
	width:32px;
	height:73px;
	cursor:pointer;
	position:absolute;
	z-index:100;
	background:url(../images/next_out.png) no-repeat;
	_background:none; 
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/next_out.png" ,sizingMethod="crop"); 
}

.inPagePrev-hover{
	display:block;
	width:30px;
	height:54px;
	cursor:pointer;
	position:absolute;
	top:190px;
	left:-60px;
	_left:-42px;
	z-index:99;
	background:url(../images/inPagePrev_hover.gif) no-repeat;
}

.inPagePrev-out{
	display:block;
	top:190px;
	left:-60px;
	_left:-42px;
	width:30px;
	height:54px;
	cursor:pointer;
	position:absolute;
	z-index:99;
	background:url(../images/inPagePrev_out.gif) no-repeat;
}

.inPageNext-hover{
	display:block;
	top:190px;
	left:940px;
	_left:872px;
	width:30px;
	height:54px;
	cursor:pointer;
	position:absolute;
	z-index:99;
	background:url(../images/inPageNext_hover.gif) no-repeat;
}

.inPageNext-out{
	display:block;
	top:190px;
	left:940px;
	_left:872px;
	width:30px;
	height:54px;
	cursor:pointer;
	position:absolute;
	z-index:99;
	background:url(../images/inPageNext_out.gif) no-repeat;
}

/**** pc *****/

.subNav {
	height:42px;
}

.subNav li{
	width:174px;
	float:left;
	text-align:center;
	font-weight:bold;
	font-size:14px;
	cursor:pointer;
	text-decoration:none;
	font-family:Arial;
	color:#078ACA;
}

.emFirst{
	color:#AACBDA;
	font-size:14px;
}

.emLast{
	color:#078ACA;
	font-family:"微软雅黑";
	font-size:16px;
	letter-spacing:2px;
}

.emFirst-hover{
	color:#9c9c9c;
	font-size:14px;
}

.emLast-hover{
	color:#3B3B3B;
	font-family:"微软雅黑";
	font-size:18px;
	letter-spacing:2px;
	line-height:20px;
}

.subNav-out{
	color:#078ACA;
}
	
.subNav-hover{
	height:54px;
	top:0px;
	color:#078ACA;
}

.slideDir{
	height:7px;
	position:relative;
}

.slideDir div{
	width:13px;
	height:7px;
	position:absolute;
	background:url(../images/slide_dir.gif) no-repeat;
}

.subContainer{
	height:393px;
}


.subPrev-hover{
	display:block;
	width:28px;
	height:18px;
	cursor:pointer;
	background:url(../images/subPrev_out.png) no-repeat;
}

.subPrev-out{
	display:block;
	width:28px;
	height:18px;
	cursor:pointer;
	background:url(../images/subPrev_hover.png) no-repeat;
}

.subNext-hover{
	display:block;
	width:28px;
	height:18px;
	cursor:pointer;
	background:url(../images/subNext_out.png) no-repeat;
}

.subNext-out{
	display:block;
	width:28px;
	height:18px;
	cursor:pointer;
	background:url(../images/subNext_hover.png) no-repeat;
}

.navList-out{
	display:block;
	width:24px;
	height:18px;
	cursor:pointer;
	text-align:center;
	background:url(../images/navList_out.gif) no-repeat;
}

.navList-hover{
	display:block;
	width:24px;
	height:18px;
	cursor:pointer;
	color:white;
	text-align:center;
	background:url(../images/navList_hover.gif) no-repeat;
}

.guiding{
	line-height:30px;
	font-weight:bold;
	padding:10px 10px 5px 20px;
}

.guiding span{
	color:#C2C2C2;
	font-size:14px;
	background:url(../images/dian.gif) no-repeat 0px 1px;
	font-family:Arial,"幼圆";;
	padding-left:15px;
}

.guiding a{
	color:#2B9BD2;
	font-size:14px;
	font-family:Arial,"幼圆";;
}

.imgFace{
	width:155px;
	height:99px;
	position:absolute;
	background:url(../images/img_face.png) no-repeat;
	_background:none; 
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/img_face.png" ,sizingMethod="crop"); 
}

.imgHot{
	width:41px;
	height:20px;
	position:absolute;
	background:url(../images/img_hot.png) no-repeat;
	_background:none; 
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/img_hot.png" ,sizingMethod="crop"); 
}














